---
import PokemonList from '../components/PokemonList.jsx';
import Header from '../components/Header.astro';
import '../styles/global.css';
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pokemon List</title>
    <meta name="description" content="A list of Pokemon with their names, images, and types.">
    <meta name="keywords" content="Pokemon, Pokemon List, Pokemon Types, Pokemon Images">
    <meta name="author" content="Your Name">
    <meta property="og:title" content="Pokemon List" />
    <meta property="og:description" content="A list of Pokemon with their names, images, and types." />
    <meta property="og:image" content="/path/to/image.jpg" />
    <meta property="og:url" content="https://astro-pokemon-assignment.web.app/" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content="Pokemon List" />
    <meta name="twitter:description" content="A list of Pokemon with their names, images, and types." />
    <meta name="twitter:image" content="/path/to/image.jpg" />
  </head>
  <body>
    <Header/>
    <PokemonList client:load/>
  </body>
</html>
